body {
    line-height: 26px;
    font-family: Verdana;
}

#refPic {
    height: 170px;
    max-width: 250px;
    float: left;
}

#center {
    text-align: center;
}

#item img {
    max-width: 100%;
    -moz-transition: all 1.3s;
    -webkit-transition: all 1.3s;
    transition: all 1.3s;
}

#item:hover img {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0.8;
}

a:hover {
    text-decoration: none;
}

.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
}

.blogDescription {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 767px) {
 #refPic{
     height: 223px;
     max-width: 100%;
 }





}
